In [2]:
import pandas as pd
import requests

In [3]:
url = 'https://services9.arcgis.com/weJ1QsnbMYJlCHdG/arcgis/rest/services/Daily_Trade_Data/FeatureServer/0/query?where=1%3D1&outFields=*&outSR=4326&f=json'

In [4]:
response = requests.get(url)

In [38]:
if response.status_code == 200:
    data = response.json()
    
    features = data.get('features', [])
    
    attribute_list = [feature['attributes'] for feature in features]
    
    df = pd.DataFrame(attribute_list)
    
    df['date'] = pd.to_datetime(df['date'], unit='ms')
    
    df.head()

In [39]:
df.head()

,date,year,month,day,portid,portname,country,ISO3,portcalls_cargo,portcalls_tanker,portcalls,import_cargo,export_cargo,import_tanker,export_tanker,import,export,ObjectId
0,2019-04-11,2019,4,11,port0,Abbot Point,Australia,AUS,1,0,1,0.000000,87046.926695,0,0,0.000000,87046.926695,1
1,2019-10-28,2019,10,28,port0,Abbot Point,Australia,AUS,1,0,1,0.000000,51497.865668,0,0,0.000000,51497.865668,2
2,2019-01-01,2019,1,1,port0,Abbot Point,Australia,AUS,2,0,2,25648.932871,69693.624446,0,0,25648.932871,69693.624446,3
3,2019-04-12,2019,4,12,port0,Abbot Point,Australia,AUS,0,0,0,0.000000,0.000000,0,0,0.000000,0.000000,4
4,2019-10-29,2019,10,29,port0,Abbot Point,Australia,AUS,2,0,2,1136.847756,51095.917467,0,0,1136.847756,51095.917467,5